In [12]:
# Imports

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import tensorflow as tf 
import plotly.express as px
from sklearn import metrics
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split, KFold
from sklearn.preprocessing import PolynomialFeatures, LabelEncoder, MinMaxScaler
from tensorflow.keras.models import Model
from tensorflow.keras.models import load_model

from forecasting_func import timeSeriesMultivariate, timeSeriesEvaluationMetrics

In [13]:
# Reading CSV dataset with ANSI encoding as it includes German Tokens

df = pd.read_csv(r"dataset/preprocessed_accidents.csv", encoding = "ANSI")
df = df.iloc[:, 1:]
df

               Category        AccidentType  Year   Month  Value
0     Traffic Accidents  injured and killed  2000  200012    515
1     Traffic Accidents  injured and killed  2000  200011    578
2     Traffic Accidents  injured and killed  2000  200010    615
3     Traffic Accidents  injured and killed  2000  200009    675
4     Traffic Accidents  injured and killed  2000  200008    647
...                 ...                 ...   ...     ...    ...
1759  Alcohol Accidents            subtotal  2020  202005     40
1760  Alcohol Accidents            subtotal  2020  202004     26
1761  Alcohol Accidents            subtotal  2020  202003     27
1762  Alcohol Accidents            subtotal  2020  202002     40
1763  Alcohol Accidents            subtotal  2020  202001     28

[1764 rows x 5 columns]

In [14]:
len(pd.unique(df['Month']))

252

This means there are 252 uniques dates in this dataset. So we have to iterate every 252 records and mark their respective category and types of deaths

In [15]:
date_vals = {}
for index, row in df.iterrows():
    date_vals[row['Month']] = []
for index, row in df.iterrows():
    date_vals[row['Month']].append(row['Value'])

In [16]:
for date, vals in date_vals.items():
    date_vals[date][2] = vals[2] - vals[1] - vals[0]
    date_vals[date][4] = vals[4] - vals[3]
    date_vals[date][6] = vals[6] - vals[5]
    
date_vals

{200012: [515, 403, 2871, 45, 905, 31, 54],
 200011: [578, 461, 2892, 56, 961, 24, 47],
 200010: [615, 493, 3009, 47, 1031, 31, 52],
 200009: [675, 557, 2575, 68, 910, 45, 39],
 200008: [647, 525, 2215, 74, 807, 32, 45],
 200007: [744, 610, 2928, 67, 1035, 37, 62],
 200006: [685, 555, 2089, 58, 784, 32, 25],
 200005: [675, 568, 2880, 69, 1017, 44, 52],
 200004: [557, 441, 2319, 57, 777, 26, 52],
 200003: [509, 414, 2860, 48, 926, 18, 55],
 200002: [419, 329, 2433, 35, 855, 19, 34],
 200001: [434, 321, 2693, 34, 801, 37, 41],
 200112: [507, 377, 3105, 39, 902, 23, 43],
 200111: [568, 436, 3018, 32, 969, 25, 43],
 200110: [717, 581, 2952, 85, 1019, 37, 40],
 200109: [643, 497, 2799, 40, 913, 48, 59],
 200108: [600, 510, 2241, 57, 757, 21, 39],
 200107: [921, 755, 2612, 83, 964, 35, 36],
 200106: [679, 560, 2476, 78, 827, 46, 22],
 200105: [817, 655, 2656, 67, 1014, 32, 53],
 200104: [578, 454, 2533, 68, 829, 32, 36],
 200103: [535, 426, 3009, 43, 919, 36, 27],
 200102: [439, 343, 2366, 51, 769, 20, 29],
 200101: [448, 354, 2546, 44, 827, 36, 30],
 200212: [394, 304, 2325, 38, 668, 27, 36],
 200211: [563, 448, 2518, 50, 832, 10, 34],
 200210: [630, 467, 2762, 49, 970, 53, 30],
 200209: [621, 509, 2306, 77, 962, 51, 56],
 200208: [601, 479, 1927, 50, 735, 29, 42],
 200207: [865, 711, 2384, 72, 954, 40, 44],
 200206: [833, 675, 2078, 74, 913, 42, 32],
 200205: [654, 537, 2540, 73, 784, 32, 26],
 200204: [521, 432, 2189, 37, 747, 28, 37],
 200203: [520, 414, 2446, 39, 858, 21, 40],
 200202: [393, 316, 2183, 33, 784, 22, 27],
 200201: [431, 328, 2304, 36, 816, 24, 20],
 200312: [493, 383, 2651, 78, 780, 27, 31],
 200311: [464, 359, 2502, 59, 894, 31, 13],
 200310: [595, 466, 2570, 47, 913, 17, 57],
 200309: [560, 452, 2381, 50, 895, 26, 37],
 200308: [577, 461, 1799, 41, 657, 40, 26],
 200307: [644, 538, 2139, 35, 527, 35, 41],
 200306: [723, 566, 1850, 81, 774, 41, 41],
 200305: [632, 510, 2113, 56, 707, 26, 39],
 200304: [535, 429, 2142, 30, 814, 25, 25],
 200303: [476, 374, 2210, 44, 810, 17, 36],
 200302: [308, 232, 2428, 20, 552, 16, 28],
 200301: [358, 282, 2433, 21, 726, 18, 37],
 200412: [416, 416, 2960, 45, 897, 12, 40],
 200411: [439, 360, 2650, 46, 857, 20, 31],
 200410: [561, 465, 2690, 40, 982, 26, 42],
 200409: [659, 541, 2463, 63, 894, 41, 38],
 200408: [584, 584, 1758, 48, 736, 47, 11],
 200407: [811, 646, 2303, 83, 887, 44, 23],
 200406: [598, 491, 2140, 53, 806, 25, 33],
 200405: [600, 476, 2302, 41, 826, 30, 25],
 200404: [461, 388, 2334, 39, 836, 10, 27],
 200403: [403, 321, 2547, 20, 797, 18, 26],
 200402: [310, 240, 2178, 31, 692, 21, 27],
 200401: [377, 286, 2306, 33, 795, 10, 32],
 200512: [460, 487, 2602, 32, 785, 12, 29],
 200511: [458, 496, 2251, 27, 818, 14, 28],
 200510: [568, 451, 2484, 54, 908, 35, 22],
 200509: [825, 678, 2418, 81, 1005, 50, 26],
 200508: [582, 462, 1921, 37, 774, 33, 15],
 200507: [675, 558, 2398, 65, 886, 26, 37],
 200506: [729, 627, 2143, 53, 848, 31, 26],
 200505: [618, 521, 2182, 52, 850, 21, 27],
 200504: [514, 422, 2384, 45, 892, 19, 21],
 200503: [385, 299, 2876, 33, 1082, 13, 27],
 200502: [282, 229, 2950, 22, 939, 14, 26],
 200501: [306, 244, 2238, 24, 725, 13, 35],
 200612: [466, 386, 2567, 44, 820, 21, 31],
 200611: [468, 384, 2221, 38, 456, 22, 26],
 200610: [632, 500, 2154, 43, 556, 24, 21],
 200609: [490, 407, 2336, 66, 652, 35, 29],
 200608: [513, 422, 2058, 40, 734, 25, 23],
 200607: [787, 671, 2153, 78, 767, 37, 27],
 200606: [479, 406, 1968, 40, 525, 22, 29],
 200605: [564, 471, 1997, 33, 443, 28, 25],
 200604: [387, 301, 2186, 25, 725, 16, 24],
 200603: [375, 275, 3515, 34, 1104, 14, 26],
 200602: [279, 237, 2385, 33, 665, 21, 29],
 200601: [364, 291, 2238, 31, 677, 21, 23],
 200712: [414, 333, 2437, 29, 661, 20, 17],
 200711: [405, 324, 2715, 46, 822, 26, 10],
 200710: [491, 405, 2799, 49, 824, 18, 37],
 200709: [462, 385, 2567, 41, 756, 24, 30],
 200708: [422, 344, 2177, 39, 720, 20, 24],
 200707: [511, 435, 2676, 59, 876, 38, 27],
 200706: [535, 444, 2246, 50, 754, 27, 24],
 200705: [591, 482, 2456, 48, 810, 39, 24],
 200704: [500, 396, 2396, 43, 778, 27, 22],
 200703: [347, 293, 2196, 20, 391, 14, 24],
 200702: [277, 217, 2149, 33, 579, 15, 17],
 200701: [268, 218, 2249, 19, 680, 13, 23],
 200812: [272, 230, 2386, 27, 630, 20, 15],
 200811: [321, 281, 2381, 27, 598, 14, 13],
 200810: [455, 373, 2855, 46, 828, 19, 26],
 200809: [422, 360, 2489, 48, 699, 28, 21],
 200808: [480, 402, 1988, 55, 705, 23, 21],
 200807: [538, 459, 2503, 48, 784, 24, 28],
 200806: [473, 424, 2477, 59, 800, 32, 24],
 200805: [534, 445, 2449, 57, 814, 37, 20],
 200804: [355, 315, 2669, 41, 796, 10, 15],
 200803: [254, 210, 2446, 25, 738, 9, 21],
 200802: [340, 279, 2552, 29, 764, 16, 14],
 200801: [307, 260, 2378, 27, 700, 8, 24],
 200912: [391, 312, 2499, 37, 710, 14, 20],
 200911: [366, 312, 2616, 34, 801, 5, 26],
 200910: [432, 360, 2775, 47, 906, 15, 20],
 200909: [452, 388, 2412, 37, 809, 18, 31],
 200908: [466, 376, 1907, 40, 712, 26, 9],
 200907: [556, 476, 2590, 61, 930, 27, 17],
 200906: [443, 371, 2062, 34, 644, 19, 12],
 200905: [535, 454, 2251, 49, 719, 34, 23],
 200904: [416, 357, 2180, 43, 733, 31, 14],
 200903: [245, 202, 2297, 20, 587, 5, 9],
 200902: [340, 273, 2867, 35, 767, 12, 20],
 200901: [223, 184, 2075, 22, 490, 7, 16],
 201012: [277, 223, 2913, 23, 838, 12, 14],
 201011: [383, 319, 2627, 33, 794, 7, 21],
 201010: [524, 432, 2544, 49, 861, 13, 14],
 201009: [534, 456, 2534, 42, 913, 26, 28],
 201008: [481, 416, 1946, 48, 746, 25, 15],
 201007: [721, 619, 2372, 65, 867, 29, 19],
 201006: [517, 440, 2236, 57, 757, 20, 19],
 201005: [389, 320, 2265, 31, 712, 15, 19],
 201004: [216, 377, 2609, 41, 897, 25, 8],
 201003: [341, 291, 2677, 29, 800, 12, 19],
 201002: [247, 200, 2092, 21, 662, 10, 13],
 201001: [192, 147, 2007, 17, 596, 7, 12],
 201112: [370, 315, 2821, 30, 802, 6, 31],
 201111: [438, 359, 2770, 33, 809, 16, 24],
 201110: [481, 393, 2956, 36, 880, 10, 16],
 201109: [519, 441, 2770, 52, 854, 22, 14],
 201108: [487, 402, 2433, 35, 755, 17, 17],
 201107: [637, 532, 2905, 56, 895, 27, 12],
 201106: [472, 399, 2341, 49, 734, 21, 6],
 201105: [765, 636, 2742, 68, 966, 20, 23],
 201104: [604, 505, 2420, 55, 780, 27, 16],
 201103: [425, 373, 2725, 32, 851, 9, 13],
 201102: [343, 264, 2296, 26, 734, 7, 18],
 201101: [328, 255, 2192, 26, 700, 16, 9],
 201212: [317, 248, 2830, 23, 787, 11, 16],
 201211: [471, 394, 2974, 49, 935, 10, 20],
 201210: [580, 477, 3089, 61, 1029, 6, 26],
 201209: [632, 532, 2798, 61, 860, 24, 25],
 201208: [635, 545, 2272, 64, 823, 31, 24],
 201207: [730, 632, 2919, 64, 981, 30, 26],
 201206: [681, 577, 2760, 61, 980, 35, 8],
 201205: [719, 596, 2799, 64, 971, 33, 21],
 201204: [485, 394, 2788, 37, 882, 22, 12],
 201203: [526, 424, 2789, 44, 902, 5, 16],
 201202: [290, 233, 2579, 20, 694, 5, 13],
 201201: [338, 273, 2565, 32, 681, 11, 10],
 201312: [423, 356, 2985, 27, 801, 10, 22],
 201311: [483, 388, 3172, 53, 886, 12, 23],
 201310: [595, 510, 3428, 53, 1021, 12, 19],
 201309: [617, 531, 2982, 53, 947, 17, 30],
 201308: [645, 514, 2228, 36, 755, 22, 17],
 201307: [976, 812, 2853, 68, 1070, 24, 18],
 201306: [734, 580, 2970, 54, 1001, 20, 17],
 201305: [530, 454, 2719, 43, 805, 21, 12],
 201304: [523, 440, 3045, 50, 988, 5, 23],
 201303: [350, 284, 3078, 33, 873, 8, 13],
 201302: [326, 263, 2878, 22, 751, 0, 15],
 201301: [320, 254, 2742, 29, 767, 2, 15],
 201412: [413, 331, 3175, 35, 795, 3, 22],
 201411: [464, 401, 3039, 42, 901, 14, 28],
 201410: [652, 529, 3070, 55, 987, 21, 15],
 201409: [620, 534, 2983, 60, 876, 18, 25],
 201408: [517, 432, 2430, 43, 759, 13, 19],
 201407: [783, 654, 3006, 62, 967, 21, 14],
 201406: [656, 558, 2619, 58, 822, 16, 15],
 201405: [671, 536, 3139, 50, 875, 19, 9],
 201404: [549, 455, 2836, 55, 891, 15, 20],
 201403: [559, 460, 3008, 46, 947, 16, 21],
 201402: [372, 309, 2634, 22, 720, 7, 10],
 201401: [412, 324, 2674, 29, 749, 4, 17],
 201512: [479, 384, 2999, 38, 912, 6, 21],
 201511: [506, 430, 3056, 43, 948, 11, 19],
 201510: [569, 475, 3423, 52, 1058, 12, 13],
 201509: [614, 509, 2892, 49, 958, 25, 20],
 201508: [546, 481, 2404, 36, 828, 29, 20],
 201507: [809, 708, 3212, 65, 1111, 37, 12],
 201506: [673, 560, 2665, 54, 898, 19, 20],
 201505: [604, 487, 2824, 41, 899, 30, 20],
 201504: [598, 495, 2929, 45, 921, 23, 6],
 201503: [471, 376, 3041, 49, 859, 9, 14],
 201502: [321, 262, 2507, 18, 695, 3, 20],
 201501: [334, 263, 2729, 19, 762, 21, 1],
 201612: [381, 317, 3002, 35, 835, 10, 10],
 201611: [489, 402, 3107, 32, 928, 7, 13],
 201610: [559, 448, 3290, 44, 978, 11, 19],
 201609: [759, 627, 2903, 70, 888, 22, 7],
 201608: [540, 469, 2391, 70, 888, 12, 22],
 201607: [742, 623, 3113, 61, 1034, 23, 12],
 201606: [691, 592, 2977, 54, 964, 19, 11],
 201605: [602, 502, 2729, 44, 806, 17, 8],
 201604: [545, 447, 3217, 42, 956, 8, 19],
 201603: [370, 299, 2984, 41, 857, 6, 14],
 201602: [351, 305, 2727, 24, 751, 3, 7],
 201601: [380, 298, 2619, 31, 746, 6, 15],
 201712: [376, 307, 2811, 33, 840, 17, 25],
 201711: [443, 373, 2993, 48, 877, 13, 20],
 201710: [572, 490, 3136, 59, 993, 16, 16],
 201709: [546, 430, 3041, 59, 950, 22, 25],
 201708: [504, 447, 2316, 38, 793, 14, 16],
 201707: [752, 611, 2992, 65, 999, 18, 34],
 201706: [668, 568, 2582, 54, 894, 27, 14],
 201705: [631, 545, 3138, 60, 1010, 16, 13],
 201704: [439, 365, 2729, 36, 859, 10, 16],
 201703: [486, 407, 3213, 36, 1024, 15, 21],
 201702: [334, 277, 2612, 41, 805, 4, 18],
 201701: [307, 242, 2771, 22, 668, 4, 15],
 201812: [348, 282, 2920, 37, 863, 6, 15],
 201811: [485, 407, 3135, 37, 892, 13, 18],
 201810: [616, 529, 3323, 60, 1067, 16, 27],
 201809: [645, 528, 2951, 59, 1043, 22, 14],
 201808: [529, 456, 2221, 39, 774, 18, 22],
 201807: [852, 714, 2981, 72, 1079, 29, 22],
 201806: [732, 622, 2930, 49, 985, 14, 25],
 201805: [640, 528, 2785, 43, 951, 23, 11],
 201804: [619, 519, 2878, 44, 966, 8, 17],
 201803: [383, 331, 3082, 35, 919, 12, 20],
 201802: [328, 265, 2516, 40, 734, 13, 11],
 201801: [350, 290, 2688, 40, 820, 8, 14],
 201912: [378, 326, 2758, 43, 882, 12, 23],
 201911: [453, 383, 2969, 41, 926, 19, 10],
 201910: [591, 500, 3257, 45, 1043, 20, 25],
 201909: [609, 533, 2900, 55, 941, 20, 27],
 201908: [532, 451, 2231, 37, 783, 23, 8],
 201907: [898, 762, 3103, 81, 1106, 34, 14],
 201906: [710, 615, 2402, 61, 933, 24, 16],
 201905: [484, 416, 3146, 41, 973, 21, 18],
 201904: [515, 426, 2840, 35, 932, 18, 18],
 201903: [427, 369, 3144, 44, 961, 22, 12],
 201902: [345, 289, 2808, 26, 857, 7, 21],
 201901: [297, 243, 2900, 32, 895, 7, 15],
 202012: [311, 270, 2080, 33, 661, 9, 4],
 202011: [348, 297, 2505, 27, 837, 11, 12],
 202010: [566, 489, 2812, 50, 947, 20, 14],
 202009: [634, 555, 2470, 49, 899, 24, 22],
 202008: [563, 487, 1957, 36, 699, 29, 17],
 202007: [821, 717, 2493, 58, 952, 43, 15],
 202006: [585, 496, 2299, 49, 856, 30, 19],
 202005: [464, 416, 2313, 34, 825, 26, 14],
 202004: [363, 314, 1574, 34, 573, 15, 11],
 202003: [334, 270, 2221, 33, 711, 13, 14],
 202002: [355, 306, 2610, 34, 836, 19, 21],
 202001: [360, 301, 2478, 28, 763, 11, 17]}

In [17]:
df = pd.DataFrame.from_dict(date_vals, orient = 'index')
df

          0    1     2   3     4   5   6
200012  515  403  2871  45   905  31  54
200011  578  461  2892  56   961  24  47
200010  615  493  3009  47  1031  31  52
200009  675  557  2575  68   910  45  39
200008  647  525  2215  74   807  32  45
...     ...  ...   ...  ..   ...  ..  ..
202005  464  416  2313  34   825  26  14
202004  363  314  1574  34   573  15  11
202003  334  270  2221  33   711  13  14
202002  355  306  2610  34   836  19  21
202001  360  301  2478  28   763  11  17

[252 rows x 7 columns]

In [18]:
df.columns = [
    'traffic_injured_and_killed', 
    'traffic_with_people',
    'traffic_other',
    'escape_injured_and_killed', 
    'escape_other',
    'alcohol_injured_and_killed',
    'alcohol_other'
]

# df.rename(columns = {
#     '0':'traffic_injured_and_killed', 
#     '1':'traffic_with_people',
#     '2':'traffic_other',
#     '3':'escape_injured_and_killed', 
#     '4':'escape_other',
#     '5':'alcohol_injured_and_killed',
#     '6':'alcohol_other'
# }, inplace = True)

In [19]:
df

,traffic_injured_and_killed,traffic_with_people,traffic_other,escape_injured_and_killed,escape_other,alcohol_injured_and_killed,alcohol_other
200012,515,403,2871,45,905,31,54
200011,578,461,2892,56,961,24,47
200010,615,493,3009,47,1031,31,52
200009,675,557,2575,68,910,45,39
200008,647,525,2215,74,807,32,45
...,...,...,...,...,...,...,...
202005,464,416,2313,34,825,26,14
202004,363,314,1574,34,573,15,11
202003,334,270,2221,33,711,13,14
202002,355,306,2610,34,836,19,21
202001,360,301,2478,28,763,11,17

In [20]:
df.to_csv("./dataset/accident_by_date.csv")

In [22]:
sum(df['traffic_other'])

655482